@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;400&display=swap');

:root {
    --body-color: #fbfbf9;
    --border-color: #3f3f3e;
    --btn-color: #10100F;
    --user-color: #040404;
    --button-bg-color: #e0e0df;
    --button-txt-shadow-color: #545454;
    --border-img-size: 1.5rem;
    --border-color-anim: rgba(184, 184, 184, 0.3);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    background-color: var(--body-color, white);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--user-color, black);
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}

.user-container > img {
    width: 4rem;
}

.hover-image,
.user-container:hover
.normal-image {
    display: none;
}

.user-container:hover
.hover-image {
    display: inline;
}

.board-container {
    display: flex;
    justify-content: center;
    font-weight: 200;
}

.board-container,
.span-player,
.span-computer {
    font-family: 'Kodchasan', sans-serif;
}

.span-player,
.span-computer {
    font-weight: 400;
}

.board-container:hover {
    cursor: pointer;
}

/* 'in-cont' is the container of the borders */
.in-cont > div,
.text {
    width: 12rem;
    height: 12rem;
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 10rem;
    user-select: none;
}

.text {
    transition: none;
}

.in-cont > .center-border {
    border-top: 3px solid var(--border-color, gray);
    border-right: 3px solid var(--border-color, gray);
    border-bottom: 3px solid var(--border-color, gray);
}

.in-cont > .right {
    border-right: 3px solid var(--border-color, gray);
}

.in-cont > .top-right-bottom {
    border-top: 3px solid var(--border-color, gray);
    border-right: 3px solid var(--border-color, gray);
    border-bottom: 3px solid var(--border-color, gray);
}

.in-cont > .top-bottom {
    border-top: 3px solid var(--border-color, gray);
    border-bottom: 3px solid var(--border-color, gray);
}

.restart-container {
    display: flex;
    justify-content: center;
}

.restart-container > button {
    cursor: pointer;
    width: 13rem;
    height: 4rem;
    border: none;
    background: none;
    outline: none;
    background-color: var(--button-bg-color, gray);
    color: var(--btn-color, black);
    font-size: 2rem;
    text-shadow: 0 1px 1px var(--button-txt-shadow-color, darkgray);
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0.5px var(--button-txt-shadow-color, darkgray);
}

.restart-container > button:active {
    box-shadow: 0 0 13px 0 #5E5E5D inset;
    transform: translateY(2px);
    transition: 0.02s;
}

.user-container,
.board-container,
.restart-container {
    margin: auto;
}

.user-container,
.restart-container > button {
    font-family: 'Pathway Gothic One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-text,
.restart-button {
    text-transform: uppercase;
}

.blink,
.tie {
    animation: blink 0.35s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}